@import "tailwindcss";

body {
    background-color: black;
}

@keyframes typingLoop {
    0% {
        width: 0;
    }

    40% {
        width: 100%;
    }

    60% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes blinkCursor {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.typewriter-container {
    display: inline-block;
    width: fit-content;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 2px solid white; /* blinking vertical line */
    animation: typingLoop 4s steps(9) infinite, blinkCursor 0.7s step-end infinite;
}


.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #4b5563;
    /* Tailwind gray-600 */
    border-top: 6px solid #ef4444;
    /* Tailwind yellow-400 (like movie highlight color) */
    border-radius: 9999px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Blinking Dots Animation */
.dot-1, .dot-2, .dot-3 {
    animation: blink 1.4s infinite;
    font-weight: bold;
  }
  
  .dot-2 {
    animation-delay: 0.2s;
  }
  
  .dot-3 {
    animation-delay: 0.4s;
  }
  
  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }